body {
  background-color: aqua;
}

h1 {
  font-size: 30px;
  color: black;
}

nav {
  list-style: none;
  font-size: 35px;
  justify-content: space-around;
  background-color: antiquewhite;
  display: flex;
  font-weight: bold;
  text-decoration-line: none;
} 
